.barchart {
    margin-top: 20px;
    margin-bottom: 20px;
	
}

.barchart div {

  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 2px;
  color: black;
}

.barchart div:hover  {
  color: white;
  background: black;
}

